#header{
    height: 5rem;
    background-color: #1A1A1A;
    color: #ffff;
}
#asideLogo{
    width: 50px;
}
nav{
    padding: 0 !important;
    background-color: #BFBFBF;
}
.nav-item.active{
    background-color: #1A1A1A;
}

.nav-item.active a{
    color: #ffff;
}