
body {
    background-color: #D9D9D9;
}

main{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#logoRivo{
  height: 30px;
}

.noPadding{
  padding: 0px;
}

.container-custom{
    max-width: 80%;
    margin: 0 auto;
}

.bg-light {
    background-color: #ffffff !important;
}

.nav-link.active {
    background-color: #D9D9D9 !important;
}

/* COLOR */
.corporativeBlue {
    background-color: #4A148C;
    color: white;
    border-color: #3a106c;
}

.below-navbar {
    background-color: #FFFFFF;
    color: #1E1E1E;
}

